.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.button {
    -fx-background-color: #4a90e2;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #357ABD;
}

.label {
    -fx-text-fill: #333333;
}
